<div class="card">
  <h5 class="card-header text-center">Purchase</h5>
  <div class="mx-4 mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col-6">Item</th>
          <th scope="col-6"
              class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{productVersion?.name}}</td>
          <td class="text-right">£{{productVersion?.priceInPounds}}</td>
        </tr>
        <tr>
          <td>VAT</td>
          <td class="text-right">£{{vat}}</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td class="text-right">£{{productVersion?.priceInPounds + vat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form id="payment-form"
        *ngIf="!failed"
        class="p-3">
    <div id="card-element"
         class="my-3">
      <!-- Elements will create input elements here -->
    </div>

    <!-- We'll put the error messages in this element -->
    <div id="card-errors"
         role="alert"></div>
    <button *ngIf="!loading && !productLoading && !paymentSucceed"
            (click)="submit($event)"
            [disabled]="paymentSubmitted"
            class="w-100 btn btn-primary mt-3">Complete Purchase</button>
    <p *ngIf="!loading && !productLoading && !paymentSucceed"
       class="text-center mb-0 mt-2"> Payment Secured By
      <a href="https://stripe.com/customers"
         target="_blank">Stripe</a>
    </p>
    <p *ngIf="!loading && !productLoading && !paymentSucceed"
       class="mt-0 text-center mb-2 mb-lg-0"
       style="font-size: 8px">Stripe is used by 1000s of platforms including Zoom, Slack and GitHub</p>
    <div *ngIf="paymentSucceed"
         class="alert alert-success mt-3 mb-0"
         role="alert">
      Payment Successful
    </div>
    <div *ngIf="paymentSucceed"
         role="alert"
         style="font-size: 10px; margin-top: 1rem;">
      If, when you try to download your product, it is not yet available, please wait for a couple of minutes before refreshing
      the page and trying again. Sometimes it can take us a couple of minutes to process your new purchase.
    </div>
    <div *ngIf="paymentFailed"
         class="alert alert-danger mt-3 mb-0"
         role="alert">
      {{failureReason}}
    </div>
  </form>
  <div *ngIf="failed && !loading && !productLoading"
       class="alert alert-danger mx-2"
       role="alert">
    There appears to be an issue with the product at this time. Unfortunately this means you are unable to make your purchase.
  </div>
</div>
<app-loading-spinner *ngIf="loading || productLoading || paymentLoading"></app-loading-spinner>