<div class="mt-5">
</div>

<div class="card mobile-login mb-4">
  <h5 class="card-header text-center">Purchase</h5>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product?.name}}</td>
        <td>£{{product?.priceInPounds}}</td>
      </tr>
      <tr>
        <td>VAT</td>
        <td>£{{vat}}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td>£{{product?.priceInPounds + vat}}</td>
      </tr>
    </tbody>
  </table>
  <form id="payment-form"
        *ngIf="!failed"
        class="p-3">
    <div id="card-element"
         class="my-3">
      <!-- Elements will create input elements here -->
    </div>

    <!-- We'll put the error messages in this element -->
    <div id="card-errors"
         role="alert"></div>
    <button *ngIf="!loading && !productLoading"
            (click)="submit($event)"
            class="w-100 btn btn-primary mt-3">Pay</button>
  </form>
  <div *ngIf="failed && !loading && !productLoading"
       class="alert alert-danger mx-2"
       role="alert">
    There appears to be an issue with this product at this time. Unfortunately this means you are unable to make your purchase.
  </div>
  <div class="mt-2 mx-2 mb-2">
    <button *ngIf="failed && !loading && !productLoading"
            (click)="backToProduct()"
            class="w-100 btn btn-primary">Return To Product</button>
  </div>
</div>
<app-loading-spinner *ngIf="loading || productLoading"></app-loading-spinner>