<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <h1 class="display-4 mb-4">Sales History</h1>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div style="overflow-x:auto;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers">
          <th scope="row">Sale</th>
          <td style="white-space: nowrap">{{transfer?.createdAt}}</td>
          <td>£{{transfer?.amount / 100}}</td>
        </tr>
      </tbody>
    </table>
    <h5 class="mt-5 mb-5"
        *ngIf="!(transfers?.length > 0)"> No Transfers </h5>
  </div>

  <app-loading-spinner *ngIf="moreLoading"></app-loading-spinner>
  <button *ngIf="!loading && transfers?.length > 0 && moreToLoad" class="btn btn-primary mt-2" [disabled]="moreLoading" (click)="loadMore()">Load More</button>

</div>