<div class="jumbotron m-0 m-xl-5 bg-white page-wrapper pt-3 pt-md-5 pt-xl-4">
  <img src="assets/logo.png"
       class="mx-auto d-block"
       style="width:100px">
  <app-search-box searchTerm=""
                  *ngIf="externalFacing"
                  route="product/search"></app-search-box>
  <hr class="my-4">
  <h1 class="mb-1 text-center d-block d-lg-none">{{product?.name}}</h1>
  <div class="text-center d-block d-lg-none">
    <a [href]="'profile/' + user?.uuid">
      <p class="mb-3"> {{user?.username ? user?.username : 'Anonymous'}} </p>
    </a>
  </div>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div class="row">
    <div class="col-12 col-lg-7 mb-4">
      <app-file-gallery *ngIf="!filesLoading"
                        [files]="files"> </app-file-gallery>
      <span class="d-none d-lg-block">
        <h4 class="mb-2 mt-4">Description</h4>
        <p class="mx-1 mb-3"
           style="white-space: pre-wrap;">{{product?.description}}</p>
      </span>
    </div>
    <div class="col-12 col-lg-5">
      <h3 class="mb-1 d-none d-lg-block">{{product?.name}}</h3>

      <div class="d-none d-lg-block">
        <a [href]="'profile/' + user?.uuid">
          <img [src]="user?.profileUrl ? user?.profileUrl : 'assets/user.svg'"
               class="img-thumbnail user-profile">
          <p class="d-inline-block ml-1 mb-3"
             style="font-size: 14px; font-weight: bold;"> {{user?.username ? user?.username : 'Anonymous'}} </p>
        </a>
      </div>
      <hr class="mt-0">
      <div class="row mb-0">
        <div class="col-12 col-sm-6 col-lg-12">
          <div class="mx-auto d-table mx-lg-0 d-lg-block">
            <fa-icon [icon]="licenseIcon"
                     class="text-center mx-auto d-inline-block"
                     style="font-size: 21px; width: 20px;">
            </fa-icon>
            <p class="d-inline-block sub-title ml-2"> All Purpose License </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-12">
          <div class="mx-auto d-table mx-lg-0 d-lg-block">
            <fa-icon [icon]="refundIcon"
                     class="text-center mx-auto d-inline-block text-primary"
                     style="font-size: 21px; width: 20px;">
            </fa-icon>
            <p class="d-inline-block sub-title ml-2"> Refund Policy </p>
          </div>
        </div>
      </div>
      <h3 class="mb-1 text-center text-lg-left"
          style="font-weight: bold;">£{{product?.priceInPounds}}</h3>
      <p class="mt-0 text-center text-lg-left"
         style="font-size: 10px; color: gray;">Taxes/VAT calculated at checkout</p>
      <button *ngIf="!ownsProduct"
              type="button"
              class="btn btn-primary mx-auto w-100 mb-2"
              [disabled]="loading"
              (click)="purchase()">
        <b>Buy Now</b>
      </button>
      <button *ngIf="ownsProduct"
              type="button"
              class="btn btn-success mx-auto w-100 mb-2"
              disabled="true">
        <b>Owned</b>
      </button>
      <p class="text-center mb-0"> Payment Secured By
        <a href="https://stripe.com/customers"
           target="_blank">Stripe</a>
      </p>
      <p class="mt-0 text-center mb-2 mb-lg-0"
         style="font-size: 8px">Stripe is used by 1000s of platforms including Zoom, Slack and GitHub</p>
      <hr class="mt-1">
      <h4 class="mb-2 ml-lg-2">Details</h4>
      <div class="row mt-3 ml-lg-2">
        <div class="col-6">
          <h6 class="text-left">File size</h6>
        </div>
        <div class="col-6">
          <h6 class="text-right">{{assetContent?.fileSizeFriendly}}</h6>
        </div>
      </div>
      <div class="row ml-lg-2">
        <div class="col-6">
          <h6 class="text-left">Last updated</h6>
        </div>
        <div class="col-6">
          <h6 class="text-right">22/03/2020</h6>
        </div>
      </div>
      <div class="row ml-lg-2">
        <div class="col-5">
          <h6 class="text-left">Creator</h6>
        </div>
        <div class="col-7">
          <h6 class="text-right">{{user?.username ? user.username : 'Anonymous'}}</h6>
        </div>
      </div>
      <div class="d-block d-lg-none">
        <hr class="mt-1">
        <h4 class="mb-2 mt-3">Description</h4>
        <p class="mx-1 mb-3"
           style="white-space: pre-wrap;">{{product?.description}}</p>
      </div>
      <hr>
      <h4 class="mb-2 mt-3 ml-lg-2">Asset Contents</h4>
      <div class="asset-contents p-2">
        <app-asset-row [rows]="assetContent?.contents"></app-asset-row>
      </div>
    </div>
    <div class="col-12 mx-1 mx-md-4 mx-lg-2"
         *ngIf="externalFacing">
      <hr class="mt-1"
          *ngIf="extraProducts?.length > 0">
      <h4 class="mb-4 mx-1 mt-md-4">More by {{user?.username}}</h4>
      <div class="row mr-0">
        <div *ngFor="let product of extraProducts"
             class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-11 mb-4 mx-auto mx-sm-0">
          <app-card [description]="product?.name"
                    [title]="'£' + product?.priceInPounds"
                    [linkUrl]="'product/view/' + product?.versionUuid"
                    [pictureUrl]="product?.coverImageUrl"
                    height="135"
                    buttonText="View"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>