<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <span *ngIf="account?.payoutsEnabled && !paymentCheckLoading">
    <h1 class="display-4 mb-4">Manage Payouts</h1>
    <hr>
    <h3 class="mb-4 mt-4 mt-md-1 text-center text-md-left">Current Balance</h3>
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <div class="row mb-2">
      <div class="col-12 d-block d-md-none mb-3">
        <div style="max-width: 350px">
          <div *ngIf="balance != null"
               class="row">
            <div class="col-7">
              <h6 class="text-left mb-md-1"
                  style="white-space: nowrap;">Available Balance</h6>
            </div>
            <div class="col-5">
              <h6 class="text-right mb-md-1"
                  style="white-space: nowrap;">£{{balance / 100}}</h6>
            </div>
          </div>
          <div *ngIf="pendingBalance != null"
               class="row">
            <div class="col-7">
              <h6 class="text-left mb-md-1"
                  style="white-space: nowrap;">Pending Balance</h6>
            </div>
            <div class="col-5">
              <h6 class="text-right mb-md-1"
                  style="white-space: nowrap;">£{{pendingBalance / 100}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-loading-spinner *ngIf="payoutRequestLoading"></app-loading-spinner>
        <button class="btn btn-primary d-block wide-button-small"
                *ngIf="!payoutRequestLoading && !balanceLoading"
                [disabled]="balance < 2500 || payoutRequestSubmitted">Request Payout</button>
            <p *ngIf="balance < 2500 && !balanceLoading" class="text-left mb-0 mt-1" style="font-size: 10px"> £25 Minimum Available Balance Required To Request Payout</p>
      </div>
      <div class="col-6 d-none d-md-block mt-auto">
        <div style="max-width: 350px" class="ml-auto">
          <div *ngIf="balance != null"
               class="row">
            <div class="col-7">
              <h6 class="text-left mb-md-1"
                  style="white-space: nowrap;">Available Balance</h6>
            </div>
            <div class="col-5">
              <h6 class="text-right mb-md-1"
                  style="white-space: nowrap;">£{{balance / 100}}</h6>
            </div>
          </div>
          <div *ngIf="pendingBalance != null"
               class="row">
            <div class="col-7">
              <h6 class="text-left mb-md-1"
                  style="white-space: nowrap;">Pending Balance</h6>
            </div>
            <div class="col-5">
              <h6 class="text-right mb-md-1"
                  style="white-space: nowrap;">£{{pendingBalance / 100}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"
           *ngIf="payoutRequestFailed">
        Payout Request Failed!
      </div>
    </div>
    <hr>
    <h3 class="mb-4 mt-4 mt-md-1 text-center text-md-left">Payout History</h3>
    <div style="overflow-x:auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payout of payOuts">
            <th scope="row">Pay Out</th>
            <td>£{{payout?.amount / 100}}</td>
            <td style="white-space: nowrap">{{payout?.createdAt}}</td>
            <td>
              <span [class.text-success]="payout?.status === 'paid'">{{payout?.status}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 class="mt-5"
          *ngIf="!(payOuts?.length > 0)"> No Payouts </h5>
    </div>

    <app-loading-spinner *ngIf="moreLoading"></app-loading-spinner>
    <button *ngIf="!loading && payOuts?.length > 0 && moreToLoad"
            class="btn btn-primary mt-2"
            [disabled]="moreLoading"
            (click)="loadMore()">Load More</button>
  </span>
  <span *ngIf="!account?.payoutsEnabled && !paymentCheckLoading">
    <h1 class="display-4">Setting Up Payouts</h1>
    <p class="lead">Before we can transfer funds to your bank account, we need to perform a final check to ensure you are who you say you
      are.
    </p>
    <hr class="my-4">
    <app-loading-spinner *ngIf="paymentCheckLoading"></app-loading-spinner>
    <p> By clicking the button below you will be redirected to Stripe's payout verification flow. Once you have completed this,
      we will be able to start transfering funds to your account.</p>
    <p> You will need a form of id and proof of address. </p>
    <form class="m-3">
      <button type="button"
              class="mx-auto d-block btn btn-primary mt-5"
              (click)="paymentOnboarding()">Stripe Payout Verificiation</button>
    </form>
  </span>
  <app-loading-spinner *ngIf="paymentCheckLoading"></app-loading-spinner>
</div>