<div class="jumbotron m-0 m-xl-4 bg-white">
  <div class="text-center">
    <h1 class="display-4">{{creating ? 'New Listing' : 'Edit Listing'}}</h1>
    <p class="lead">{{editor?.name}}</p>
    <hr>
  </div>

  <div class="pt-2 pt-md-2">
    <div class="card"
         *ngIf="!paymentCheckLoading && !loading">
      <app-version-status-bar [status]="editor?.status"
                              *ngIf="editor?.status"></app-version-status-bar>
      <div class="alert alert-warning mt-0 mb-0"
           *ngIf="!account?.chargesEnabled &&!paymentCheckLoading"
           style="border-radius: 0rem 0rem 0.25rem 0.25rem; margin: -1px;">
        <h5 class="text-center mb-0">Complete
          <a href="/profile/become-seller">Stripe onboarding</a> to list paid assets.</h5>
      </div>
      <form class="m-3">
        <div class="row">
          <div class="form-group col-12 col-sm-6">
            <label class="required-star"
                   for="name">
              <b>Name</b>
            </label>
            <input type="text"
                   name="name"
                   class="form-control"
                   id="name"
                   [(ngModel)]="editor.name">
          </div>
          <div class="form-group col-12 col-sm-6 mb-0">
            <label [class.required-star]="account?.chargesEnabled || paymentCheckLoading"
                   for="name">
              <b>Price
                <span *ngIf="!account?.chargesEnabled && !paymentCheckLoading"
                      style="font-size: 10px">(You can only list free assets for now)</span>
              </b>
            </label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">£</div>
              </div>
              <input type="number"
                     [disabled]="!account?.chargesEnabled"
                     name="priceInPounds"
                     class="form-control"
                     id="name"
                     [(ngModel)]="editor.priceInPounds">
            </div>
          </div>

          <div class="form-group col-12 col-sm-6 mb-3">
            <label class="required-star"
                   for="genre">
              <b>Genre</b>
            </label>
            <ng-select [(ngModel)]="editor.genreUuid"
                       [disabled]="genreLoading"
                       name="genre">
              <ng-option *ngFor="let genre of genres"
                         [value]="genre.uuid">{{genre.name}}</ng-option>
            </ng-select>
          </div>

          <div class="form-group col-12 col-sm-6 mb-3">
            <label class="required-star"
                   for="category">
              <b>Category</b>
            </label>
            <ng-select [(ngModel)]="editor.categoryUuid"
                       [disabled]="categoryLoading"
                       name="category">
              <ng-option *ngFor="let category of categories"
                         [value]="category.uuid">{{category.name}}</ng-option>
            </ng-select>
          </div>
          <div class="form-group col-12">
            <label for="keywords"
                   class="w-100">
              <b>Key Words</b>
              <div class="row">
                <div class="col-9">
                  <p class="mb-0"
                     style="font-size: 10px"> Separate each word with a comma </p>
                </div>
                <div class="col-3">
                  <p style="font-size: 10px"
                     class="text-right mb-0">{{!editor?.keyWords?.length ? '0' : editor?.keyWords?.length}}/100</p>
                </div>
              </div>
            </label>
            <input type="text"
                   name="keyWords"
                   class="form-control"
                   id="keyWords"
                   maxlength="100"
                   [(ngModel)]="editor.keyWords">
          </div>
          <div class="form-group col-12">
            <label class="required-star"
                   for="description">
              <b>Description</b>
            </label>
            <textarea type="text"
                      name="description"
                      class="form-control"
                      id="description"
                      [(ngModel)]="editor.description"
                      rows="4"> </textarea>
          </div>
          <div class="form-group col-12">
            <app-file-uploader *ngIf="!existingFilesLoading"
                               multiple="true"
                               name="Marketing Media"
                               description="Accepts image and videos"
                               maximum=5
                               image="true"
                               video="true"
                               [existingFiles]="existingMarketingMedia"
                               (uploadsChanged)="updateMarketingMedia($event)"
                               (existingFilesChanged)="updateExistingMarketingMedia($event)"></app-file-uploader>
          </div>
          <div class="form-group col-12">
            <app-file-uploader *ngIf="!existingFilesLoading"
                               name="Cover Image"
                               description="Accepts images"
                               image="true"
                               required="true"
                               [existingFiles]="existingCoverImage"
                               (uploadsChanged)="updateCoverImage($event)"
                               (existingFilesChanged)="updateExistingCoverImage($event)"></app-file-uploader>
          </div>
          <div class="form-group col-12">
            <app-file-uploader *ngIf="!existingFilesLoading"
                               name="Asset Zip"
                               description="Accepts zip files"
                               zip="true"
                               required="true"
                               [existingFiles]="existingAssetZip"
                               (uploadsChanged)="updateAssetZip($event)"
                               (existingFilesChanged)="updateExistingAssetZip($event)"></app-file-uploader>
          </div>
        </div>
        <div>
          <button type="button"
                  class="w-100 d-block d-md-none btn btn-primary"
                  [disabled]="loading || paymentCheckLoading || submitLoading"
                  (click)="submit()">{{creating ? 'Submit' : 'Submit Changes'}}</button>

          <button type="button"
                  class="d-none d-md-block btn btn-primary"
                  [disabled]="loading || paymentCheckLoading || submitLoading"
                  (click)="submit()">{{creating ? 'Submit' : 'Submit Changes'}}</button>
        </div>
        <div *ngIf="!validationResult?.valid"
             class="alert alert-danger mt-2"
             role="alert">
          <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
        </div>
        <div *ngIf="successfullyUpdated"
             class="alert alert-success mt-3 mb-0"
             role="alert">
          Successfully Updated.
        </div>
        <div class="progress mt-2"
             *ngIf="submitLoading">
          <div class="progress-bar"
               role="progressbar"
               [style.width]="uploadPercentage +'%'"
               aria-valuenow="99"
               aria-valuemin="0"
               aria-valuemax="100">{{uploadPercentage}}%</div>
        </div>
      </form>
    </div>
    <app-loading-spinner *ngIf="loading || submitLoading || paymentCheckLoading"></app-loading-spinner>
  </div>
</div>