<div class="user-profile-page">
  <div class="banner"></div>
  <div class="container">
    <div class="container-summary card card-body mt-4">
      <div class="card-content">
        <!--<app-sanitized-image class="uploader-image profile-photo" *ngIf="!!profilePictureUrl" [chosenUrl]="profilePictureUrl"></app-sanitized-image>!-->
        <div class="profile-picture shadow-sm">
          <div class="uploader-image"
               alt="Profile picture"
               [style.background-image]="editor?.profileUrl ? 'url(' + editor?.profileUrl + ')' : 'url(assets/user.svg)'"></div>
        </div>
        <h6 class="text-center mt-2">
          <span class="badge badge-success"
                *ngIf="editor?.isEmailVerified">Email Verified</span>
        </h6>
      </div>
      <!--<app-loading-spinner *ngIf="loading"></app-loading-spinner>-->
      <div *ngIf="!initialPageLoading">
        <h3 class="name">
          {{firstName}} {{lastName}}
          <!--<app-verified-user-indicator *ngIf="model?.influencer"></app-verified-user-indicator>-->
        </h3>
        <p class="text-center text-muted">
          {{username}}
          <!--<span *ngIf="model.emailAddress">| {{model.emailAddress}}</span>-->
        </p>
      </div>
    </div>

    <app-loading-spinner *ngIf="initialPageLoading"></app-loading-spinner>

    <div class="alert alert-warning mt-2 mb-0 w-100"
         *ngIf="!editor?.isEmailVerified">
      <h3 class="text-center"> Verify Account </h3>
      <p class="text-center"
         *ngIf="!emailSending && emailSent"> Verification Email Sent. </p>
      <p class="text-center"
         *ngIf="!emailSending && emailSent"> Once you open the email and verify your account, please refresh the page. </p>
      <p *ngIf="!emailSending && !emailSent"
         class="text-center">You still need to verify your account using the email you will have recieved when you initially signed up.</p>
      <p *ngIf="!emailSending && !emailSent"
         class="text-center">If you can't find this email then click the button below and we'll resend it.</p>
      <p *ngIf="!emailSending && !emailSent"
         class="text-center">Make sure to double check your spam folder if you still can't find it.</p>
      <button *ngIf="!emailSending && !emailSent"
              type="button"
              class="mx-auto d-block btn btn-primary"
              (click)="sendVerifyEmail()">Resend Verification Email</button>

      <app-loading-spinner *ngIf="emailSending"></app-loading-spinner>
    </div>

    <div class="pt-2 pt-md-2"
         *ngIf="!initialPageLoading">
      <div class="card">
        <form class="m-3">
          <div class="row">
            <div class="form-group col-6">
              <label for="firstName">
                <b>First Name</b>
              </label>
              <input type="text"
                     name="firstName"
                     class="form-control"
                     id="firstName"
                     [(ngModel)]="editor.firstName">
            </div>
            <div class="form-group  col-6">
              <label for="lastName">
                <b>Last Name</b>
              </label>
              <input type="text"
                     name="lastName"
                     class="form-control"
                     id="lastName"
                     [(ngModel)]="editor.lastName">
            </div>
            <div class="form-group col-12">
              <label for="username">
                <b>Username</b>
              </label>
              <input type="text"
                     name="username"
                     class="form-control"
                     id="username"
                     [(ngModel)]="editor.username">
            </div>
            <div class="form-group col-12">
              <app-file-uploader *ngIf="!loading"
                                 name="Profile Image"
                                 image="true"
                                 [existingFiles]="existingProfileImage"
                                 (uploadsChanged)="updateProfileImage($event)"
                                 (existingFilesChanged)="updateExistingProfileImage($event)"></app-file-uploader>
            </div>
          </div>
          <div>
            <button type="button"
                    class="w-100 btn btn-primary"
                    [disabled]="loading"
                    (click)="update()">Update</button>
          </div>

          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
          <div *ngIf="!validationResult?.valid"
               class="alert alert-danger mt-2"
               role="alert">
            <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
          </div>
          <div *ngIf="successfullyUpdated"
               class="alert alert-success mt-2"
               role="alert">
            Successfully Updated.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>