<div class="jumbotron m-4 text-center bg-white">
  <h1 class="display-4">Template Angular Web App</h1>
  <p class="lead">This is a template Angular web app backed by a .net core API. It comes with pre-built authentication, file management and
    stripe integrations.</p>
  <hr class="my-4">
  <p>Kick start your project by making use of our template today.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg"
       href="#"
       role="button">Register</a>
  </p>
</div>
<div class="row mx-4">
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <app-card></app-card>
  </div>
</div>