<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar bg-secondary"        style="z-index: 10; width:100%"
     role="banner">
        <a href="/">
                <img width="40"
                     alt="Game Asset Logo"
                     src="assets/logo_icon_inverse.png"
                     style="margin-top: 2px;"
                />
        </a>
        <span> {{securityContext?.user?.username}}</span>
        <div class="spacer"></div>
        <button *ngIf="!securityContext?.authenticated"
                type="button"
                (click)="routeLogin()"
                class="btn btn-primary mr-2">Log In</button>
        <button *ngIf="securityContext?.authenticated"
                type="button"
                class="btn btn-secondary mr-2">
                <div *ngIf="securityContext?.authenticated"
                     style="float: left;margin-top: 2px; color: white;"
                     (click)="signOut()">Sign Out</div>
        </button>
</div>

<div class="content"
     role="main">
</div>

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<main [class.dashboard-content]="sideBarOpen && securityContext?.authenticated"
      [class.dashboard-content-closed]="!sideBarOpen || !securityContext?.authenticated"
      [class.dashboard-content-closed-auth]="!sideBarOpen && securityContext?.authenticated"
      [class.dashboard-content-closed-no-auth]="!sideBarOpen && !securityContext?.authenticated">
        <router-outlet></router-outlet>
</main>

<app-side-nav></app-side-nav>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->