<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <h1 class="display-4">Your Listings</h1>
  <p class="lead">You Have {{products?.length}} Assets For Sale on GameAssets.io</p>
  <hr class="my-4">
  <span *ngIf="securityContext?.authenticated">
    <p class="lead mb-5">
      <a class="btn btn-primary btn-lg"
         href="product/new"
         role="button">New Listing</a>
    </p>
  </span>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div class="row mx-0 mx-md-4" *ngIf="!loading">
    <div *ngFor="let product of products" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
      <app-card [description]="product?.name" [title]="product?.priceInPounds == 0 ? 'FREE' : '£' + product?.priceInPounds" buttonText="Edit" [linkUrl]="'product/edit/' + product?.versionUuid" [pictureUrl]="product?.coverImageUrl" [status]="product?.status"></app-card>
    </div>
  </div>
</div>