<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <h1 class="display-4">Your Products</h1>
  <p class="lead">You Currently Have {{products?.length}} Products For Sale on GameAssets.io</p>
  <hr class="my-4">
  <span *ngIf="securityContext?.authenticated">
    <p class="lead mb-5">
      <a class="btn btn-primary btn-lg"
         href="product/new"
         role="button">List New Product</a>
    </p>
  </span>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div class="row mx-0 mx-md-4" *ngIf="!loading">
    <div *ngFor="let product of products" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
      <app-card [title]="product?.name" [description]="product?.description" buttonText="view" [linkUrl]="'product/edit/' + product?.uuid"></app-card>
    </div>
  </div>
</div>