<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <h1 class="display-4">My Listings</h1>
  <p class="lead">You Have {{total}} Assets Listed For Sale on GameAssets.io</p>
  <div class="mb-4">
    <app-search-box [searchTerm]="queryParams?.searchTerm"
                    placeholder="Search your listings..."
                    route="product/me?"></app-search-box>
  </div>
  <hr class="my-4">
  <span *ngIf="securityContext?.authenticated">
    <p class="lead mb-4">
      <a class="btn btn-primary btn-lg"
         href="product/new"
         role="button">New Listing</a>
    </p>
  </span>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div class="row mx-0 mx-md-4 mb-3"
       *ngIf="!loading">
    <div *ngFor="let product of products"
         class="col-xl-fifth col-lg-3 col-md-4 col-sm-6 col-10 mx-auto mx-sm-0 mb-4">
      <app-card [description]="product?.name"
                [title]="product?.priceInPounds == 0 ? 'FREE' : '£' + product?.priceInPounds"
                buttonText="Edit"
                [linkUrl]="'product/edit/' + product?.versionUuid"
                [pictureUrl]="product?.coverImageUrl"
                [status]="product?.status"
                [subText]="product?.genre + ' | ' + product?.category"
                [userUuid]="product?.creatorUserUuid"
                [username]="product?.creatorUserUsername"
                [profileUrl]="product?.creatorUserProfileUrl"
                showBottom="true"></app-card>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link px-4 disabled-link"
                [class.disabled-link]="currentPage === 0"
                [disabled]="currentPage === 0"
                (click)="prev()">Prev</button>
      </li>
      <li class="page-item active">
        <a class="page-link">{{currentPage}}</a>
      </li>
      <li class="page-item">
        <button class="page-link px-4"
                [class.disabled-link]="!(products?.length > 0)"
                [disabled]="!(products?.length > 0)"
                (click)="next()">Next</button>
      </li>
    </ul>
  </nav>
</div>