<app-product-viewer *ngIf="productVersionUuid"
                    [productVersionUuid]="productVersionUuid"></app-product-viewer>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<hr>
<div class="m-3">
  <div class="form-group col-12">
    <label for="rejectionComment">
      <b>Rejection Comment</b>
    </label>
    <textarea type="text"
              name="rejectionComment"
              class="form-control"
              id="rejectionComment"
              [(ngModel)]="submissionEditor.rejectionComment"
              rows="4"> </textarea>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <button type="button"
              class="w-100 btn btn-success"
              [disabled]="loading || approvalLoading || submissionEditor.rejectionComment"
              (click)="submit(true)">Approve</button>
    </div>
    <div class="col-6">
      <button type="button"
              class="w-100 btn btn-danger"
              [disabled]="loading || approvalLoading || !submissionEditor.rejectionComment"
              (click)="submit(false)">Reject</button>
    </div>
    <div *ngIf="!validationResult?.valid"
         class="alert alert-danger mt-3 mb-0 w-100"
         role="alert">
      <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
    </div>
  </div>