<aside *ngIf="securityContext?.authenticated"
       [class.side-nav-closed]="!sidebarEnabled"
       [class.side-nav-open]="sidebarEnabled">
  <div style="margin-top: 20px;">
    <a href="">
      <img width="40"
           class="d-block mx-auto"
           alt="Angular Logo"
           src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </a>
  </div>
  <div style="height: 78vh; overflow-y: scroll;">
    <h6 class="text-white mb-2 mx-auto mx-md-3 mt-3 text-center text-md-left">Buying</h6>
    <span *ngFor="let item of buyerNavItems">
      <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
         routerLinkActive="active"
         *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
         [href]="item.url">
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 d-none d-md-inline-block"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 text-center mx-auto d-block d-md-none"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <span class="d-md-inline-block d-none ml-2"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
        <span class="d-md-none d-block text-center"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
      </a>
    </span>
    <span>
      <hr style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
      <h6 class="text-white mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left">Selling</h6>
      <app-loading-spinner *ngIf="paymentCheckLoading" invertColours="true"></app-loading-spinner>
      <span *ngIf="!paymentCheckLoading">
        <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
           *ngIf="!account?.chargesEnabled"
           routerLinkActive="active"
           href="profile/become-seller">
          <fa-icon [icon]="sellIcon"
                   class="ml-md-2 d-none d-md-inline-block"
                   style="width:16px"></fa-icon>
          <fa-icon [icon]="sellIcon"
                   class="ml-md-2 text-center mx-auto d-block d-md-none"
                   style="width:16px"></fa-icon>
          <span class="d-md-inline-block d-none ml-2">Open Sales Account</span>
          <span class="d-md-none d-block text-center">Open Sales Account</span>
        </a>
      </span>
      <span *ngIf="!paymentCheckLoading">
        <span *ngFor="let item of sellerNavItems">
          <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
             routerLinkActive="active"
             *ngIf="account?.chargesEnabled"
             [href]="item.url">
            <fa-icon [icon]="item.icon"
                     class="ml-md-2 d-none d-md-inline-block"
                     [class.text-warning]="item.isAdmin"
                     style="width:16px"></fa-icon>
            <fa-icon [icon]="item.icon"
                     class="ml-md-2 text-center mx-auto d-block d-md-none"
                     [class.text-warning]="item.isAdmin"
                     style="width:16px"></fa-icon>
            <span class="d-md-inline-block d-none ml-2"
                  [class.text-warning]="item.isAdmin">{{item.title}}</span>
            <span class="d-md-none d-block text-center"
                  [class.text-warning]="item.isAdmin">{{item.title}}</span>
          </a>
        </span>
      </span>
    </span>
    <span>
      <hr style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
      <h6 class="text-white mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left">Other</h6>
      <span *ngFor="let item of otherNavItems">
        <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
           routerLinkActive="active"
           *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
           [href]="item.url">
          <fa-icon [icon]="item.icon"
                   class="ml-md-2 d-none d-md-inline-block"
                   [class.text-warning]="item.isAdmin"
                   style="width:16px"></fa-icon>
          <fa-icon [icon]="item.icon"
                   class="ml-md-2 text-center mx-auto d-block d-md-none"
                   [class.text-warning]="item.isAdmin"
                   style="width:16px"></fa-icon>
          <span class="d-md-inline-block d-none ml-2"
                [class.text-warning]="item.isAdmin">{{item.title}}</span>
          <span class="d-md-none d-block text-center"
                [class.text-warning]="item.isAdmin">{{item.title}}</span>
        </a>
      </span>
    </span>
    <hr *ngIf="adminUser"
        style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
    <h6 *ngIf="adminUser"
        class="text-warning mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left">Admin</h6>
    <span *ngFor="let item of adminNavItems">
      <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
         routerLinkActive="active"
         *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
         [href]="item.url">
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 d-none d-md-inline-block"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 text-center mx-auto d-block d-md-none"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <span class="d-md-inline-block d-none ml-2"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
        <span class="d-md-none d-block text-center"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
      </a>
    </span>
  </div>
</aside>
<aside *ngIf="securityContext?.authenticated">
  <button class="toggle-button btn btn-primary btn-submit"
          (click)="toggleSidebar()">
    <fa-icon *ngIf="!sidebarEnabled && securityContext?.authenticated"
             [icon]="toggleIconOn"
             class="ml-md-2"></fa-icon>
    <fa-icon *ngIf="sidebarEnabled  && securityContext?.authenticated"
             [icon]="toggleIconOff"
             class="ml-md-2"></fa-icon>
  </button>
</aside>