$primary: 	rgb(112, 65, 206);
$brand-grey: #888888;
$brand-dark: #303030;
$brand-light: #F7F7F7;
$brand-light-tint: #E6E6E6;
$brand-white: #FFFFFF;
$brand-accent: #FEBC62;
$brand-verified: #1dcaff;
$brand-danger: rgb(228, 23, 23);