@import '_variables';
@import '_bootstrap.mixins';

@import '~bootstrap/scss/bootstrap';


.required-star {
    &:after {
      content: '*';
      color: $brand-danger;
    }
  }
  
  /* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(85, 85, 85, 0.295);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}